<template>
  <b-button :variant="variant" :type="type">
    <slot v-if="!isLoading">Submit</slot>
    <span v-else>{{ loadingText }}...</span>
    <b-spinner
      v-if="isLoading"
      :label="loadingText + '...'"
      small
      class="spinner"
    ></b-spinner>
  </b-button>
</template>

<script>
export default {
  props: ['text', 'loadingText', 'variant', 'isLoading', 'type']
}
</script>

<style scoped>
.spinner {
  margin-left: 12px;
}
</style>
