<template>
  <div class="form-preview">
    <h3 v-if="name">{{ name }}</h3>
    <div v-if="description" v-html="compiledMarkdown"></div>
    <b-form>
      <vue-form-generator :schema="schema" :options="formOptions">
      </vue-form-generator>
      <b-button type="reset" variant="secondary" disabled>Reset</b-button>
      <b-button type="submit" variant="primary" disabled>Submit</b-button>
    </b-form>
  </div>
</template>

<style scoped>
.form-preview {
  padding: var(--spacing-default);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}
</style>
<script>
import marked from 'marked'
export default {
  components: {},
  props: {
    name: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    schema: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      show: true,
      formOptions: {
        validateAfterLoad: true,
        validateAfterChanged: true,
        validateAsync: true
      }
    }
  },
  computed: {
    compiledMarkdown() {
      return marked(this.description, { sanitize: false })
    }
  },
  methods: {}
}
</script>
