<template>
  <div>
    <BFormTextarea
      id="description-textarea"
      :value="input"
      :placeholder="$t('app.descriptionPlaceholder')"
      rows="6"
      @input="update"
    ></BFormTextarea>
  </div>
</template>

<script>
import debounce from 'lodash.debounce'
export default {
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      input: this.value
    }
  },
  methods: {
    update: debounce(function (value) {
      this.input = value
      this.$emit('input', value)
    }, 300)
  }
}
</script>

<style scoped></style>
