<template>
  <div class="lf-content-block">
    <slot></slot>
  </div>
</template>

<style scoped>
.lf-content-block {
  padding: var(--spacing-small);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  box-shadow: 0 1px 4px rgb(50 64 88 / 20%);
  background-color: white;
}
</style>
