<template>
  <img class="LiberaFormsLogo" src="~/assets/default-favicon.png" />
</template>

<style>
.LiberaFormsLogo {
  animation: 1s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
