<template>
  <div class="public-footer">
    <span class="text">
      <b-link href="/">
        <Logo class="logo" />
        LiberaForms v2.0 AGPL 3
      </b-link>
      <nuxt-link
        v-for="locale in availableLocales"
        :key="locale.code"
        :to="switchLocalePath(locale.code)"
      >
        {{ locale.name }}
      </nuxt-link>
    </span>
  </div>
</template>

<script>
export default {
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale)
    }
  }
}
</script>

<style scoped>
.logo {
  display: flex;
  justify-content: space-around;
  margin: 12px auto;
}
.public-footer {
  margin-bottom: 8px;
  color: lightgray;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.text {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
</style>
