<template>
  <div class="container-fluid">
    <div class="form">
      <h3 class="p-2">{{ $t('loginpage.signInTitle') }}</h3>
      <b-form v-if="show" class="p-2" @submit="onSubmit">
        <b-form-group
          id="input-group-1"
          :label="$t('loginpage.usernameLabel')"
          label-for="input-1"
        >
          <b-form-input
            id="input-1"
            v-model="form.username"
            type="text"
            required
            :placeholder="$t('loginpage.usernamePlaceholder')"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-2"
          :label="$t('loginpage.passwordLabel')"
          label-for="input-2"
        >
          <b-form-input
            id="input-2"
            v-model="form.password"
            type="password"
            required
            :placeholder="$t('loginpage.passwordPlaceholder')"
          ></b-form-input>
        </b-form-group>
        <div v-if="hasError" class="text-danger my-2">
          {{ error }}
        </div>
        <div class="form-actions mt-4">
          <progress-button
            :is-loading="isLoading"
            :loading-text="$t('app.loadingText')"
            type="submit"
            variant="primary"
          >
            {{ $t('loginpage.signInCta') }}
          </progress-button>
          <b-link to="/auth/recover">
            {{ $t('loginpage.forgotPasswordLink') }}
          </b-link>
        </div>
      </b-form>
    </div>
  </div>
</template>

<script>
import ProgressButton from '~/components/lib/ProgressButton.vue'
export default {
  auth: false,
  layout: 'public',
  components: {
    ProgressButton
  },
  data() {
    return {
      form: {
        username: '',
        password: ''
      },
      hasError: false,
      show: true,
      isLoading: false
    }
  },
  methods: {
    async onSubmit(evt) {
      evt.preventDefault()
      try {
        this.isLoading = true
        const { data } = await this.$auth.loginWith('local', {
          data: this.form
        })
        this.$api.setToken(`Bearer ${data.access_token}`)
        const route = data.group.includes('admin')
          ? '/dashboard/admin'
          : '/dashboard'
        this.$router.push(route)
      } catch (err) {
        console.log(err)
        if (err.response.status === 401) {
          this.hasError = true
          this.error = err.response.data
          setTimeout(() => {
            this.hasError = false
          }, 3000)
          return
        }
        throw err
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style scoped>
.form {
  padding: 2rem 1rem;
  width: 320px;
  min-width: 300px;
  border-radius: 3px;
  border: 1px solid #b2c0ce;
}
.form-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
