<template>
  <b-form v-if="show" @submit="onSubmit">
    <toolbar :add-question="addQuestion"></toolbar>
    <form-header v-model="meta"></form-header>
    <form-question
      v-for="(field, index) in schema.fields"
      :key="field.id"
      v-model="schema.fields[index]"
      class="form-question"
      :remove-question="() => removeQuestion(index)"
      :duplicate-question="() => duplicateQuestion(index)"
    >
    </form-question>
    <div class="controls mt-2">
      <b-button type="submit" variant="primary" :disabled="!isValid">
        {{ $t('app.submitButtonText') }}
      </b-button>
    </div>
  </b-form>
</template>

<style scoped>
.form-question {
  margin: var(--spacing-default) 0;
}
.controls {
  display: flex;
}
</style>
<script>
import FormHeader from './FormHeader.vue'
import Toolbar from './Toolbar.vue'
import * as fields from './fields'
export default {
  components: { FormHeader, Toolbar },
  props: {
    value: {
      type: Object,
      default: null
    },
    errors: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      show: true,
      meta: {
        name: this.value.name,
        description: this.value.description
      },
      schema: this.value.schema
    }
  },
  computed: {
    isValid() {
      return Boolean(this.meta.name && this.meta.name.length > 0)
    }
  },
  methods: {
    addQuestion(type) {
      let field
      switch (type) {
        case 'text':
          field = fields.TEXT_FIELD
          break
        case 'number':
          field = fields.NUMBER_FIELD
          break
        case 'email':
          field = fields.EMAIL_FIELD
          break
        default:
          throw new Error(`Unkown field type:${type}`)
      }
      this.schema.fields.push({ ...field })
    },
    removeQuestion(index) {
      this.schema.fields = this.schema.fields.filter((f, i) => index !== i)
    },
    duplicateQuestion(index) {
      const copy = {
        ...this.schema.fields[index]
      }
      this.schema.fields = [
        ...this.schema.fields.slice(0, index),
        copy,
        ...this.schema.fields.slice(index)
      ]
    },
    onSubmit(evt) {
      evt.preventDefault()
      const { meta, schema } = this
      this.$emit('submit', { ...meta, schema })
    }
  }
}
</script>
