<template>
  <b-form class="form">
    <b-form-input
      id="title-input"
      :value="model.label"
      placeholder="Question"
      type="text"
      @input="updateValue({ label: $event })"
    ></b-form-input>
    <div class="actions">
      <div
        v-b-tooltip.hover.bottom.v-secondary
        class="action"
        :title="$t('app.delete')"
      >
        <b-icon
          size="sm"
          icon="trash"
          aria-label="delete-question"
          @click="removeQuestion"
        ></b-icon>
      </div>
      <div
        v-b-tooltip.hover.bottom.v-secondary
        class="action"
        :title="$t('app.duplicate')"
      >
        <b-icon
          size="sm"
          icon="files"
          aria-label="duplicate-question"
          @click="duplicateQuestion"
        ></b-icon>
      </div>
      <div class="divider"></div>
      <div class="action">
        <b-form-checkbox
          v-model="model.required"
          name="check-button"
          class="switch"
          size="sm"
          switch
        >
          {{ $t('app.required') }}
        </b-form-checkbox>
      </div>
      <div class="action">
        <b-dropdown variant="link" size="sm" right no-caret>
          <template #button-content>
            <b-icon
              size="sm"
              variant="dark"
              icon="three-dots"
              aria-label="more-options"
            ></b-icon>
          </template>
          <b-dropdown-item
            v-for="(option, index) in options"
            :key="index"
            @click="() => addOption(option)"
          >
            {{ option.text }}
          </b-dropdown-item>
        </b-dropdown>
      </div>
    </div>
  </b-form>
</template>

<style scoped>
.form {
  padding: var(--spacing-small);
  border: 1px solid var(--border-color);
  border-radius: var(--boder-radius);
  background-color: var(--white);
}
.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.action {
  padding: 4px;
}
.divider {
  background-color: var(--border-color);
  width: 1px;
  height: 1rem;
  margin: 0 4px;
}
.switch {
  padding-top: 4px;
}
</style>

<script>
import {
  BIcon,
  BIconTrash,
  BIconFiles,
  BIconThreeDots,
  // eslint-disable-next-line no-unused-vars
  BTooltip
} from 'bootstrap-vue'

export default {
  components: {
    BIcon,
    // eslint-disable-next-line vue/no-unused-components
    BIconTrash,
    // eslint-disable-next-line vue/no-unused-components
    BIconFiles,
    // eslint-disable-next-line vue/no-unused-components
    BIconThreeDots
  },
  props: {
    value: {
      type: Object,
      default: null
    },
    removeQuestion: {
      type: Function,
      default: null
    },
    duplicateQuestion: {
      type: Function,
      default: null
    }
  },
  data() {
    return {
      model: this.value,
      options: [
        {
          text: 'Show description'
        },
        {
          text: 'Go to section based on answer'
        },
        {
          text: 'Shuffle option order'
        }
      ]
    }
  },
  methods: {
    updateValue(value) {
      this.$emit('input', { ...this.model, ...value })
    }
  }
}
</script>
