<template>
  <div>
    <b-form-group
      id="input-group-2"
      :label="$t('app.descriptionLabel')"
      label-for="description-textarea"
    >
      <b-tabs content-class="">
        <b-tab title="Write"
          ><MarkdownEditor
            :value="model"
            :options="options"
            @input="updateValue"
        /></b-tab>
        <b-tab title="Preview"><MarkdownPreview :value="model" /></b-tab>
      </b-tabs>
    </b-form-group>
  </div>
</template>

<style scoped></style>

<script>
import MarkdownEditor from '~/components/MarkdownPreview/MarkdownEditor'
import MarkdownPreview from '~/components/MarkdownPreview/MarkdownPreview'

export default {
  components: {
    MarkdownPreview,
    MarkdownEditor
  },
  props: {
    value: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      model: this.value,
      options: {}
    }
  },
  methods: {
    updateValue(value) {
      this.model = value
      this.$emit('input', value)
    }
  }
}
</script>
