<template>
  <b-button-toolbar aria-label="Editor tools" class="toolbar">
    <b-button-group class="mx-1" size="sm">
      <b-dropdown text="+" size="sm" right no-caret>
        <b-dropdown-item
          v-for="field in fieldTypes"
          :key="field.inputType"
          @click="() => addQuestion(field.inputType)"
        >
          {{ field.inputType }}
        </b-dropdown-item>
      </b-dropdown>
    </b-button-group>
  </b-button-toolbar>
</template>

<script>
import * as fields from './fields'
export default {
  props: {
    addQuestion: {
      type: Function,
      default: null
    }
  },
  data() {
    return {
      // eslint-disable-next-line import/namespace
      fieldTypes: Object.keys(fields).map((k) => fields[k])
    }
  }
}
</script>

<style scoped>
.toolbar {
  margin: var(--spacing-small) 0;
  justify-content: flex-end;
}
</style>
