:root {
  --font-small: 11px;
  --font-default: 13px;
  --font-large: 16px;
  --spacing-small: 8px;
  --spacing-default: 16px;
  --spacing-large: 24px;
  --sidebar-width: 220px;
  --border-radius: 3px;
  --white: #fff;
  --grey: #969faf;
  --grey-dark: #596a87;
  --grey-darker: #37455d;
  --grey-darkest: #2d3c55;
  --grey-mid-dark: #7d899b;
  --grey-mid-light: #dfe1e6;
  --grey-light: #ebedef;
  --grey-lighter: #edeff4;
  --grey-lightest: #f7f7f9;
  --blue: #387cce;
  --blue-light: #64a3ef;
  --blue-lighter: #c2deff;
  --blue-lightest: #e9f2fb;
  --green: #36b47f;
  --green-light: #83d5a4;
  --green-lighter: #b3e5c7;
  --green-lightest: #ecf8f1;
  --orange: #f09f2d;
  --orange-light: #f2c07a;
  --orange-lightest: #fce7ca;
  --red: #ea004a;
  --red-light: #fb79a2;
  --border-color: var(--grey-mid-light);
  --border-dark-color: var(--grey);
  --border-blue: var(--blue);
  --error-color: var(--red);
  --text-color: var(--grey-darkest);
  --link-color: var(--blue);
}
