<template>
  <div class="container">
    <h3>Edit your profile</h3>
    <b-form v-if="show" @submit="onSubmit" @reset="onReset">
      <b-form-group label="username" label-for="username">
        <b-form-input
          id="username"
          v-model="form.username"
          type="text"
          disabled
        ></b-form-input>
      </b-form-group>
      <b-form-group label="email" label-for="email">
        <b-form-input
          id="email"
          v-model="form.email"
          type="email"
          required
        ></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
    </b-form>
  </div>
</template>

<script>
export default {
  layout: 'app',
  async asyncData({ $api }) {
    const { data } = await $api.get('/users/me')
    return {
      form: {
        username: data.username,
        email: data.email
      }
    }
  },
  data() {
    return {
      show: true,
      form: {
        email: '',
        username: ''
      }
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      console.log(this.form)
      // TODO change email should send a new confirmation email
    },
    onReset(evt) {
      evt.preventDefault()
      this.form.username = ''
      this.form.email = ''
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>

<style></style>
