<template>
  <div class="container-fluid">
    <breadcrumb :items="breadcrumbs" class="breadcrumb"></breadcrumb>
    <data-table
      name="forms"
      :items="itemsWithActions"
      :fields="fields"
      :link="(id) => `/forms/${id}/edit`"
    >
      <template v-slot:header-actions>
        <b-link to="/forms/new" class="right">
          {{ $t('app.createForm') }}
        </b-link>
      </template>
    </data-table>
  </div>
</template>

<style scoped></style>

<script>
import moment from 'moment'
import DataTable from '~/components/DataTable/DataTable.vue'
function formatDate(date) {
  return moment(date).format('L')
}
const mapForm = (form) => {
  return {
    ...form,
    createdAt: formatDate(form.createdAt),
    updatedAt: formatDate(form.updatedAt)
  }
}
export default {
  components: { DataTable },
  layout: 'app',
  async asyncData({ $api }) {
    const { data } = await $api.get('/forms')
    return data
  },
  data() {
    return {
      breadcrumbs: [
        {
          text: this.$t('app.forms'),
          href: '/forms'
        }
      ],
      items: [],
      meta: {},
      fields: [
        'name',
        'createdBy',
        'updatedAt',
        'createdAt',
        { key: 'actions', label: this.$t('app.formActions') }
      ]
    }
  },
  computed: {
    itemsWithActions() {
      return this.items.map((it) => ({
        ...mapForm(it),
        actions: [
          {
            name: 'remove',
            variant: 'danger',
            size: 'sm',
            text: this.$t('app.deleteForm'),
            fn: ({ id }) => this.deleteForm(id)
          }
        ]
      }))
    }
  },
  methods: {
    async deleteForm(formId) {
      this.isDeleting = true
      await this.$api.delete(`/forms/${formId}`)
      this.isDeleting = false
      const { data } = await this.$api.get('/forms')
      this.items = data.items
      this.meta = data.meta
    }
  }
}
</script>
