<template>
  <div class="container-fluid">
    <breadcrumb :items="breadcrumbs" class="breadcrumb"></breadcrumb>
    <form-editor
      v-model="form"
      :errors="errors"
      @submit="onSubmit"
    ></form-editor>
  </div>
</template>

<script>
import FormEditor from '~/components/FormEditor/FormEditor.vue'
export default {
  components: { FormEditor },
  layout: 'app',
  data() {
    // TODO create factory for forms (TypeScript?)
    return {
      form: {
        name: '',
        description: '',
        schema: {
          fields: [],
          groups: []
        }
      },
      errors: []
    }
  },
  computed: {
    breadcrumbs() {
      return [
        {
          text: this.$t('app.forms'),
          href: '/forms'
        },
        {
          text: this.$t('app.createForm')
        }
      ]
    }
  },
  methods: {
    async onSubmit(value) {
      try {
        const { data } = await this.$api.post('/forms', value)
        console.log(data)
        this.$route.push('/forms')
      } catch (err) {
        this.errors.push(err)
      }
    }
  }
}
</script>
