<template>
  <div class="container-fluid grid">
    <b-card-group deck>
      <b-card
        v-for="item in items"
        :key="item.id"
        :title="item.name"
        img-src="https://picsum.photos/600/300/?image=25"
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 14rem"
        class="mb-2"
      >
        <b-link :to="{ path: `/forms/${item.id}/answers` }">
          {{ $t('dashboard.formCardCta') }}
        </b-link>
      </b-card>
    </b-card-group>
  </div>
</template>

<script>
export default {
  layout: 'app',
  async asyncData({ $api }) {
    // TODO filter most recent
    const { data } = await $api.get('/forms')
    return data
  },
  data() {
    return {
      items: [],
      meta: {}
    }
  },
  methods: {}
}
</script>
