<template>
  <div class="container-fluid">
    <breadcrumb :items="breadcrumbs" class="breadcrumb"></breadcrumb>
    <data-table name="invites" :items="itemsWithActions" :fields="fields">
      <template v-slot:header-actions>
        <b-button
          variant="link"
          class="right"
          @click="$bvModal.show('create-invite-modal')"
        >
          {{ $t('app.createInvite') }}
        </b-button>
      </template>
    </data-table>
    <b-modal
      id="create-invite-modal"
      :title="$t('app.createInvite')"
      :ok-title="$t('app.submitButtonText')"
      @ok="handleOk"
      @hidden="resetModal"
    >
      <div v-if="isLoading" class="text-center">
        <b-spinner :label="$t('app.loadingText')"></b-spinner>
      </div>
      <form v-else ref="form" class="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          id="input-group-1"
          :label="$t('app.emailLabel')"
          label-for="input-1"
        >
          <b-form-input
            id="input-1"
            v-model="newInvite.email"
            name="email"
            type="email"
            required
            :state="validityState.email"
            :placeholder="$t('app.emailPlaceholder')"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="input-group-2"
          :label="$t('app.roleLabel')"
          label-for="input-2"
        >
          <b-form-select
            id="input-2"
            v-model="newInvite.group"
            name="role"
            :options="roles"
            :state="validityState.role"
          ></b-form-select>
        </b-form-group>
        <b-form-group
          id="input-group-3"
          :label="$t('app.messageLabel')"
          label-for="input-3"
        >
          <b-form-textarea
            id="textarea-1"
            v-model="newInvite.message"
            name="message"
            rows="3"
            required
            :state="validityState.message"
            :placeholder="$t('app.messagePlaceholder')"
          ></b-form-textarea>
        </b-form-group>
        <b-form-group>
          <ul>
            <li
              v-for="(error, index) in errors"
              :key="index"
              class="text-danger"
            >
              {{ error }}
            </li>
          </ul>
        </b-form-group>
      </form>
    </b-modal>
  </div>
</template>

<style>
.right {
  float: right;
}
</style>

<script>
import moment from 'moment'
import { capitalize } from '~/lib/utils/string'

function formatDate(date) {
  return moment(date).format('L')
}
const mapInvite = (invite) => {
  return {
    ...invite,
    createdAt: formatDate(invite.createdAt),
    updatedAt: formatDate(invite.updatedAt),
    createdBy: invite.creator.username
  }
}

export default {
  layout: 'app',
  async asyncData({ $api }) {
    const { data } = await $api.get('/invites')
    return data
  },
  data() {
    return {
      isLoading: false,
      errors: [],
      userRoles: ['user', 'admin'],
      breadcrumbs: [
        {
          text: this.$t('app.invites'),
          href: '/invites'
        }
      ],
      validityState: {
        email: null,
        message: null
      },
      newInvite: this.initialInvite(),
      items: [],
      fields: [
        'email',
        'group',
        'createdBy',
        'createdAt',
        'token',
        { key: 'actions', label: this.$t('app.inviteActions') }
      ],
      meta: {}
    }
  },
  computed: {
    itemsWithActions() {
      return this.items.map((invite) => ({
        ...mapInvite(invite),
        actions: [
          {
            name: 'remove',
            variant: 'danger',
            size: 'sm',
            text: this.$t('app.deleteInvite'),
            fn: ({ id }) => this.deleteInvite(id)
          },
          {
            name: 're-send',
            variant: 'info',
            size: 'sm',
            text: this.$t('app.resendInvite'),
            fn: ({ email }) => this.resendInvite(email)
          }
        ]
      }))
    },
    roles() {
      return this.userRoles.map((role) => ({
        value: role,
        text: this.$t(`app.role${capitalize(role)}`)
      }))
    }
  },
  methods: {
    async deleteInvite(id) {
      this.isDeleting = true
      await this.$api.delete(`/invites/${id}`)
      this.isDeleting = false
      const { data } = await this.$api.get('/invites')
      this.items = data.items
      this.meta = data.meta
    },
    resendInvite(email) {
      alert(`TODO: re-send invite to ${email}`)
    },
    initialInvite() {
      return {
        message: this.$t('app.messageDefault', {
          createdBy: this.$auth.user.username
        }),
        email: '',
        group: 'user'
      }
    },
    initialValidity() {
      return {
        message: null,
        email: null,
        role: null
      }
    },
    formatDate(date) {
      return moment(date).format('L')
    },
    resetModal() {
      this.newInvite = this.initialInvite()
      this.validityState = this.initialValidity()
      this.errors = []
    },
    checkFormValidity() {
      const validity = {}
      let isValid = true
      this.$refs.form.forEach((field) => {
        validity[field.name] = field.validity.valid
        isValid = isValid && field.validity.valid
      })
      this.validityState = validity
      return isValid
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    async handleSubmit() {
      if (!this.checkFormValidity()) {
        return
      }
      try {
        this.isLoading = true
        await this.$api.post('/invites', this.newInvite)
        const { data } = await this.$api.get('/invites')
        this.items = data.items
        this.meta = data.meta
        this.$bvModal.hide('create-invite-modal')
      } catch (err) {
        this.errors.push(err.response.data.message)
      } finally {
        this.isLoading = false
        this.validityState = this.initialValidity()
      }
    }
  }
}
</script>
