<template>
  <div class="container-fluid">
    <div class="form">
      <h3 class="p-2">{{ $t('invitedPage.registerTitle') }}</h3>
      <register-form
        :submission-error="error"
        @submit="onSubmit"
      ></register-form>
    </div>
  </div>
</template>

<script>
import RegisterForm from '~/components/forms/RegisterForm.vue'
export default {
  auth: false,
  layout: 'public',
  components: {
    RegisterForm
  },
  data() {
    return {
      error: '',
      show: true,
      isLoading: false
    }
  },
  methods: {
    async onSubmit(formData) {
      try {
        this.isLoading = true
        await this.$api.post('/invites/accept', {
          ...formData,
          token: this.$route.params.token
        })
        const { data } = await this.$auth.loginWith('local', {
          data: formData
        })
        this.$api.setToken(`Bearer ${data.access_token}`)
        const route = data.group.includes('admin')
          ? '/dashboard/admin'
          : '/dashboard'
        this.$router.push(route)
      } catch (err) {
        console.log(err)
        if (err.response.status === 400) {
          this.error = err.response.data.message
          return
        }
        throw err
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style scoped>
.form {
  padding: 2rem 1rem;
  width: 320px;
  min-width: 300px;
  border-radius: 3px;
  border: 1px solid #b2c0ce;
}
.form-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
