<template>
  <b-form v-if="show" class="p-2" @submit="onSubmit">
    <b-form-group
      id="input-group-1"
      :label="$t('loginpage.usernameLabel')"
      label-for="input-1"
    >
      <b-form-input
        id="input-1"
        v-model="form.username"
        type="text"
        required
        :placeholder="$t('loginpage.usernamePlaceholder')"
      ></b-form-input>
      <div v-if="hasError" class="text-danger mt-2">
        {{ error }}
      </div>
    </b-form-group>
    <b-form-group
      id="input-group-2"
      :label="$t('loginpage.passwordLabel')"
      label-for="input-2"
    >
      <b-form-input
        id="input-2"
        v-model="form.password"
        type="password"
        required
        :placeholder="$t('loginpage.passwordPlaceholder')"
      ></b-form-input>
    </b-form-group>
    <div v-if="submitError" class="text-danger mt-2">
      {{ submitError }}
    </div>
    <div class="form-actions mt-4">
      <progress-button
        :is-loading="isLoading"
        :loading-text="$t('app.loadingText')"
        type="submit"
        variant="primary"
      >
        {{ $t('loginpage.signInCta') }}
      </progress-button>
    </div>
  </b-form>
</template>
<script>
import ProgressButton from '~/components/lib/ProgressButton.vue'
export default {
  props: ['submissionError'],
  components: {
    ProgressButton
  },
  data() {
    return {
      form: {
        username: '',
        password: ''
      },
      hasError: false,
      error: '',
      show: true,
      isLoading: false
    }
  },
  computed: {
    submitError() {
      return this.submissionError
    }
  },
  watch: {
    async 'form.username'(newVal, oldVal) {
      if (Boolean(newVal) && newVal !== oldVal) {
        this.hasError = false
        const { data } = await this.$api.post('/users/exists', {
          username: newVal
        })
        if (data.exists) {
          this.hasError = true
          this.error = this.$t('app.usernameAlreadyExistsError')
        }
      }
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      this.$emit('submit', { ...this.form })
    }
  }
}
</script>

<style scoped></style>
